*.class
macgyver-mapdb*
# Package Files #
*.jar
*.war
*.ear
.settings
.classpath
.project
bin/
target/
.gradle
build/
workspace
*.bak
x
macgyver-grails/target
logs/
*.jceks
*.swp
*~
dump.rdb
.cache
*-local.properties
macgyver-core/src/test/resources/ext/data
macgyver-core-revision.properties
